 body {
      background-image: url('bg_web.jpeg');
      background-repeat: repeat; /* or no-repeat */
      background-attachment: scroll; /* default: background scrolls with page */
}

.dancing-script-main-name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.roboto-condensed-font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.font-color{    /*font color*/
    color: #5e5a5a;
}
.white-sheet{
    background-color: rgb(255, 255, 255);
    border: solid #e3d0b8 6px;  /*FAF0DC #D5B895*/
}
.social-md-text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
}
.social-icons{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}